<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/new" method="post">
      <label for="user">New user: </label>
      <input type="text" name="userName" id="user" />
      <button type="submit">Add</button>
    </form>
    <a href="/">Home Page</a>
  </body>
</html>
